Java/Lab5/script.txt
Java/Lab5/script.txt
Java/Lab5/script.txt
Java/Lab5/.idea/.name
Java/Lab7/.idea/dictionaries/project.xml
Java/Lab7/.idea/encodings.xml
Java/Lab7/.idea/misc.xml
.vscode
Java/Lab5/script.txt
Java/Lab5/src/main/java/system/main.lnk
Programming_Languages/Workshop2/main.exe

